@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 980px;
}

.logoLoginWrapper {
    display: flex;
    width: 190px;
    justify-content: space-between;
}

.logoLoginWrapperSearch {
    display: flex;
    min-width: 464px;
    height: 50px;
}

.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 10px;
    min-width: 100px;
    height: 50px;
}

.logoSearch {
    width: 140px;
    height: 50px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;
}

.login {
    min-width: 80px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
}

.logout {
    min-width: 80px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.headerBtn {
    min-width: 80px;
    height: 50px;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
}

.logoutSearchWrapper {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.authName {
    min-width: max-content;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.authNameSearch {
    min-width: 304px;
}


.salesLogoutWrapper{
    width: 271px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 31px;
}

.mySales {
    min-width: 142px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-right: 49px;
}